".text.js:not(.source)":

  "Magento 2 JS Component":
    "prefix": "2magento js component class"
    "body": """
/*jshint jquery:true*/
define([
    'jquery',
    'jquery/ui'
], function($){
    'use strict';

    $.widget('${1:widgetName}', {
        options: {
            // optionName: value
        },

        /**
         * Bind a click handler on the widget's element.
         * @private
         */
        _create: function() {
            this.element.on('click', $.proxy(this._clickAction, this));
        },

        /**
         * Init object
         * @private
         */
        _init: function () {
            // Do something if needed
        },

        /**
         * Click action function
         * @private
         * @param event - {Object} - Click event.
         */
        _clickAction: function (event) {
            // Do something with element clicked $(event.target)
        }
    });

    return $.${1:widgetName};
});
"""

  "Magento 2 RequireJS Config":
    "prefix": "2magento requirejs config"
    "body": '''
var config = {
    map: {
        '*': {
            ${objectName}: '${1:VendorName}_${2:PackageName}/js/${3:jsFileName}'
        }
    }
};
'''
